@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #253f28;
}

.App-background {
    min-height: 100vh;
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -999;
    background: url('../public/imgs/background.avif') no-repeat center center fixed; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    backdrop-filter: blur(15px);
}

/* HEADER COMPONENT */

.Header, .Home-header {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 5px #000;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header-buttons button.Dashboard-new-btn {
  margin-right: 10px;
}

#Header-text-link {
  text-decoration: none;
}

#Header-text-link:visited {
  color: #fff;
}

/* HOME COMPONENT */

.Home {
  text-align: center;
}

.Home-header {
  font-size: 5rem;
  justify-content: center;
  padding-top: 8%;
}

.Home > p {
  font-size: 2rem;
  color: #fff;
  font-style: italic;
}

.Home-btn {
  font-size: 3rem !important;
}

button.Dashboard-new-btn.Home-btn {
  margin-top: 10rem;
}

/* DASHBOARD COMPONENT */

.Container {
  width: 80%;
  margin: 0 auto;
}

.Dashboard-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}

.Dashboard-button {
    text-align: center;
}

.Dashboard-btn {
  font-size: 2.4rem !important;
}

.Dashboard-new-btn {
  margin: 1rem 0;
  appearance: none;
  backface-visibility: hidden;
  background-color: #228B22;
  border-radius: 8px;
  border-style: none;
  box-shadow: 0 0 8px #000;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.Dashboard-new-btn:hover {
  background-color: #3d873d;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
  box-shadow: rgba(68, 195, 121, 0.519) 0 0 12px;
}

.Dashboard-new-btn:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.Dashboard-filter > select {
  height: 3rem;
  width: 20rem;
  margin: 0.6rem 0;
  background-color: rgba(54, 35, 16, 0.78);

  font-size: 1.8rem;
  color: #fff;
  padding-left: 0.5rem;

  border-radius: 15px;

  cursor: pointer;
}

/* CARD COMPONENT */

.Card {
    width: 360px;
    height: 380px;
    color: #fff;
    background-color: rgba(54, 35, 16, 0.78);
    margin-top: 5px;
    border-radius: 20px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    box-shadow: 0px 0px 20px #02220b;

    transition: all 0.3s ease-in-out;
}

.Card:hover {
  scale: 1.02;
  box-shadow: 0px 0px 30px #02220b;
}

.Card > img {
    width: 320px;
    height: 200px;
    margin-top: 10px;
    border-radius: 20px;
    object-fit: cover;
}

.Card .Card-description {
  width: 320px;
}

.Card-btn {
    appearance: none;
    background-color: #493d2a;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.Card-btn:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .Card-btn:hover {
    background-color: #2c974b;
  }
  
  .Card-btn:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .Card-btn:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .Card-btn:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }

/* PLANT DETAILS PAGE */

.PlantDetails {
    text-align: center;
    color: #fff;
}

.PlantDetails-right h1 {
    font-size: 6rem;
}

.PlantDetails > p {
    margin: 60px;
}

.PlantDetails-content {
  margin: 40px 0;
  background-color: rgba(59, 48, 30, 0.75);
  border-radius: 40px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 600px;
}

.PlantDetails-left img {
  max-width: 500px;
  max-height: 500px;
  border-radius: 30px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.PlantDetails-left img:hover {
  scale: 1.05;
}

.PlantDetails-species {
  font-size: 1.4rem;
  font-style: italic;
  margin-bottom: 10px;
}

.PlantDetails-description {
  font-weight: 400;
  margin: 10px 0;
  padding: 0 100px;
}

.PlantDetails-age {
  font-size: 1.5rem;
  margin: 10px 0;
}

.Delete-btn {
  background-color: #b52727;
  transition: all 0.4s;
  font-size: 2rem;
  padding-bottom: 10px;
  box-shadow: 0 0 16px #000;
}

.Delete-btn:hover {
  background-color: #931515;
}

.Update-btn {
  margin-right: 16px;
  background-color: #05685e;
  transition: all 0.4s;
  font-size: 2rem;
  padding-bottom: 10px;
  box-shadow: 0 0 16px #000;
}

.Update-btn:hover {
  background-color: #034a42;
}

.Details-back-btn {
  display: block;
  margin: 16px auto 0 auto;
  background-color: #228B22;
  font-size: 1.8rem;
  padding-bottom: 12px;
  box-shadow: 0 0 16px #000;
}

.PlantDetails-notification-btn {
  background-color: #228B22;
  margin-top: 16px;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.PlantDetails-notification-btn:hover {
  background-color: #3d873d;
  box-shadow: rgba(68, 195, 121, 0.519) 0 0 12px;
  scale: 1.04;
}

/* NEW PLANT COMPONENT */

.NewPlantForm-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NewPlantForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
}

.NewPlantForm-form > form {
  width: 500px;
  display: flex;
  flex-direction: column;
  
  margin-bottom: 10px;

  font-size: 1.4rem;

  border: none;
  outline: none;
}

.NewPlantForm-form > form > input {
  height: 40px;
  font-size: 30px;

  padding-left: 5px;

  border: none;
  border-radius: 8px;
  outline: none;
}

.NewPlantForm-form > form > textarea {
  min-height: 100px;

  padding-left: 5px;
  margin-bottom: 10px;

  border: none;
  border-radius: 8px;
  outline: none;
}

.NewPlantForm-form > form > select {
  height: 40px;
  font-size: 24px;

  border: none;
  border-radius: 8px;
  outline: none;
}

/* ABOUT PAGE */

.About-content {
  width: 60%;
  margin: 5rem auto 0 auto;
  color: #fff;
  text-align: center;
}

.About-content > h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.About-content > p {
  font-size: 1.5rem;
}

/* FOOTER COMPONENT */

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: #fff;
  background-color: rgba(30, 132, 73, 0.5);
  box-shadow: 0 0 20px #000;

  line-height: 50px;
  text-align: center;

  font-size: 1.4rem;
  font-weight: 500;
  font-style: italic;
}

/* MEDIA QUERIES */

@media (max-width: 1440px) {
  .Dashboard-content {
    grid-gap: 5rem;
  }

  .PlantDetails-left img {
    max-width: 420px;
    max-height: 420px;
  }

  .PlantDetails-content h1 {
    font-size: 4rem;
  }
}

@media (max-width: 1024px) {

  .Header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Header h1 {
    margin: 20px 0;
    font-size: 4rem;
  }

  .Home .Home-header h1 {
    font-size: 6rem;
  }

  .PlantDetails-left img {
    max-width: 320px;
    max-height: 320px;
  }

}

@media (max-width: 824px) {
  .About-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
  }

  .About-container-img img {
      margin: 0;
  }

  .PlantDetails-content {
    max-width: 800px;
    flex-direction: column;
  }
}

@media (max-width: 542px) {
  
  .Home .Home-header h1 {
    font-size: 4rem;
  }

  .Home p {
    font-size: 1.4rem;
  }

  .Dashboard-new-btn.Home-btn {
    font-size: 2rem !important;
  }

  .Container {
    width: 100%;
    margin: 0;
  }

  .Dashboard-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Card {
    width: 300px;
  }

  .Card > img {
    width: 266px;
  }

  .Card-description {
    font-size: 0.8rem !important;
    padding: 0 20px;
  }

  .PlantDetails-content {
    max-width: 400px;
    flex-direction: column;
    margin: 20px auto;
    padding: 10px 0;
  }

  .PlantDetails-content h1 {
    font-size: 3rem;
  }

  .PlantDetails-left img {
    max-width: 320px;
    max-height: 320px;
  }

  .PlantDetails-description {
    padding: 0 20px;
  }

  .PlantDetails-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Update-btn, .Delete-btn, .Details-back-btn {
    margin-top: 10px;
  }

  .NewPlantForm-form > form {
    width: 340px;
  }

}

@media (max-width:480px) {
  .About img {
      width: 256px;
  }

  .About h1 {
      font-size: 2.5rem;
  }

  .NewPlantForm-form > form {
    width: 300px;
  }

  .Container > .Dashboard-filter {
    text-align: center;
  }

}